# Environment file

# Use this file to quickly deploy without all the prompts

# Global vars

# workdir: This is the location where all the docker files and data of the containers will reside
workdir: "/docker"

# domain: The domain every service will be used with as subdomains (e.g. sabnzbd.example.com, homeassistant.example.com, etc)
domain: "example.com"

# swarm: Experimental, enables docker swarm and tries to deploy everything in separate stacks
swarm: false

## Traefik

# This variable determines if Traefik will be deployed or not 
# NOTE: All other services assume Traefik will be up and running, use this only to deploy services to an already running Traefik environment
traefik: true

# application: This is the name of the network, e.g. 'proxy' will become 'proxy_network'
application: "proxy"

# provider: Traefik supports DNS challenges for Letsencrypt, this playbook supports 'azuredns' and 'cloudflare' providers. You can also set it to 'none'
# and fill out the cert_key and cert_pem variables
provider: "cloudflare"

# cert_key and cert_pem: If you want to use your own certificates, paste their content in these variables. 
# cert_key holds the private key, cert_pem the certificate
# cert_key: 
# cert_pem:

# Azure provider credentials, use when provider is 'azuredns'
# AZURE_CLIENT_ID:
# AZURE_SECRET:
# AZURE_SUBSCRIPTION_ID:
# AZURE_TENANT:

# Cloudflare provider credentials, use when provider is 'cloudflare'
CF_API_EMAIL: "someone@example.com"
CF_API_KEY: "cf-api-token"
CF_DNS_API_TOKEN: "cf-dns-api-token"

# Email address to use for letsencrypt
email_address: "someone@example.com"

# local_hosts: A map of external services you want to link to Traefik. E.g. a service running on the host (192.168.1.250) on port 10000
# local_hosts:
#   service:
#     name: service
#     address: 192.168.1.250
#     port: 10000
#     scheme: http

## Sabnzbd

# This variable determines if Sabnzbd will be deployed or not
sabnzbd: true

# download_dir: Point this to the directory where you keep your downloads. This same location will be mounted in any *arr container as well.
# It is recommended to mount the downloads and media folder in the same local dir and then mount that into the container
# (e.g. local_dir/downloads and local_dir/movies and then mount /local_dir)
download_dir: "/downloads"

## Sonarr

# This variable determines if Sonarr will be deployed or not
sonarr: true

## Radarr

# This variable determines if Radarr will be deployed or not
radarr: true

## Bazarr

# This variable determines if Bazarr will be deployed or not
bazarr: true

## Readarr

# This variable determines if Readarr will be deployed or not

# See the deploy playbook for an example on how to deploy 2 instances, 1 for ebooks and another for audiobooks
readarr: true

## Home Assistant

# This variable determines if Home Assistant will be deployed or not
homeassistant: true

# tty: Map of tty devices to mount (will be mounted under the same name inside container).
# Example: 
# tty:
#   device1:
#     path: "/dev/ttyUSB0"
tty:
  rfxcom:
    path: "/dev/tty0"

# wolpipe: A map of device and mac addresses that we can turn on using Wake on LAN. A named pipe will be created on the host
# and a systemd service will be running. This allows us to avoid using Host networking while still being able to use WOL.
# Example:
# wolpipe:
#   pc1:
#     mac: "xx:yy:zz:aa:bb"

# hacs: Run the HACS download script: https://hacs.xyz/docs/setup/download
hacs: true

## Emby

# This variable determines if Emby will be deployed or not
emby: true

## Jellyfin

# This variable determines if Jellyfin will be deployed or not
jellyfin: true

## wg-easy

# This variable determines if wg-easy will be deployed or not
wireguard: true

# wg_host: Set to the public address or hostname of your instance
wg_host: "example.com"

# wg_pass: Password to use for the web frontend
wg_pass: "mypassword"

# wg_default_address: IP range of the wireguard clients
wg_default_address: "10.8.0.x"

# wg_default_dns: DNS server to use
wg_default_dns: "1.1.1.1"

# wg_allowed_ips: IP ranges clients are allows to access
wg_allowed_ips: "10.8.0.0/24, 192.168.1.0/24"

## slskd

# This variable determines if slskd will be deployed or not
slskd: true

## fireflyiii

# This variable determines if fireflyiii will be deployed or not
fireflyiii: false

# emailaddress: Email address to use for email notifications
emailaddress: "your-email@domain.com"

# emailaddress_destination: Email address to use for email notifications
emailaddress_destination: "your-email@domain.com"

# database_password: Password to use for the database
database_password: "your-secure-password"

# mail_host: Host to use for mail notifications
mail_host: "smtp.provider.com"

# mail_port: Port to use for mail notifications
mail_port: 587

# mail_username: Username to use for mail notifications
mail_username: "your-email@domain.com"

# mail_password: Password to use for mail notifications
mail_password: "your-secure-password"

# mail_encryption: Encryption to use for mail notifications
mail_encryption: "tls"

# nordigen_id: ID to use for nordigen
# nordigen_id: "your-nordigen-id"

# nordigen_key: Key to use for nordigen
# nordigen_key: "your-nordigen-key"

# spectre_id: ID to use for spectre
# spectre_app_id: "your-spectre-id"

# spectre_secret: Secret to use for spectre
# spectre_secret: "your-spectre-secret"

## whisper

# This variable determines if whisper will be deployed or not
whisper: true

# whisper_language: Language to use for whisper
whisper_language: "nl"

# whisper_model: Model to use for whisper
whisper_model: "medium"

## piper

# This variable determines if piper will be deployed or not
piper: true

# Configuration options for the piper text-to-speech service:
# - piper_voice: The voice to use for text-to-speech
# - piper_length: The length of the generated audio
# - piper_noise: The amount of noise to add to the generated audio
# - piper_noisew: The amount of noise weighting to apply
# - piper_speaker: The speaker ID to use for the text-to-speech
# - piper_procs: The number of parallel processes to use for text-to-speech

piper_voice: "en_US-lessac-medium"
piper_length: "1.0"
piper_noise: "0.667"
piper_noisew: "0.333"
piper_speaker: "0"
piper_procs: "1"

# sqlite-backup is a small utility I made to backup my databases. See: https://github.com/bpmb82/sqlite-backup
sqlite_backup: true

# backupdir: Directory to store backups in
backupdir: "/sql-backup"
# backup_interval: Interval to backup in hours
interval: "24"