{% if not letsencrypt %}
[tls.stores]
  [tls.stores.default]
   [tls.stores.default.defaultCertificate]
     certFile = "/certificate.pem"
     keyFile = "/certificate.key"

[[tls.certificates]]
   certFile = "/certificate.pem"
   keyFile = "/certificate.key"
   stores = ["default"]
{% endif %}

{% if local_host %}
[http.routers]
{%   for service in local_hosts %}
  [http.routers.{{ service.name }}]
    rule="Host(`{{ service.name }}.{{ domain }}`)"
    entrypoints="websecure"
    service="{{ service.name }}"
{%     if letsencrypt %}
    [http.routers.{{ service.name }}.tls]
      certresolver="le_resolver"
{%     else %}
    tls=true
{%     endif %}

[http.services]
  [http.services.{{ service.name }}]
    [http.services.{{ service.name }}.loadbalancer.sticky.cookie]
      secure=true
    [[http.services.{{service.name }}.loadbalancer.servers]]
      url="{{ service.scheme }}://{{ service.address }}:{{ service.port }}"
{%   endfor %}
{% endif %}